.c-table{
    width: 100%;
    height: 100%;
}
.c-table .w p{
    margin: 10px 10px;
}
table{
    width: 1200px;
}
table tr:first-child td:first-child input{
    margin-right: 20px;
}
table td{
    padding: 5px 10px;
}
table td p{
    display: block;
    font-size: 16px;
}
table td label{
    font-size: 12px;
    color: #AAAAA9;
}
table td img{
    margin-right: 10px;
}
.o-img{
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-left: 20px;
}
table tr .t_r{
    text-align: right;
}
table tr .t_r p{
    display: inline-block;
    padding-right: 30px;
}
table tr .delete{
    text-align: center;
}