
/* 广告图 */
.main{
	height: 100%;
}
.main .w img{
	width: 1200px;
	height: 437px;
	margin-top: 20px;
}
.main .w ul li{
	float: left;
	width: 228px;	
	height: 250px;
	margin:0 6px;
}
.main .w ul li:hover{
	border-radius: 5px;
	box-shadow: -1px 2px 2px  #dfe4ea;
	background-color: #d2dae2;
}
.main .w .scy ul li img{
	float: left;
	width: 223px;
	height: 170px;
	border-radius: 5px;
}
.scy ul li h6{
	float: left;
	margin-left: 5px;
}
.scy ul li h6, p{
	margin-top: 5px;
}
.scy ul li p{
	float: right;
	margin-right: 10px;
	color: #EB6161;
}
.detail{
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.detail i{
	font-size: 4px;
	padding: 0 2px;
}
.scy ul li i label{
	font-size: 4px;
}

