
html,body,div,h1,p,label,input,*{
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
}
body{
	background: url(../img/login/logo_bg.jpg) no-repeat;
}
.login{
    position: absolute;
    top: 100px;
    left: 50%;
    margin-left: -200px;
	background-color: #FAFAFA;
    width: 380px;
	border-radius: 8px;
    height: 560px;
}
.logo{
    width: 65px;
    height: 28px;
}
.logo h1{
    margin: 10px 20px 40px;
}
.logo h2{
    margin-left: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}
.logo form{
    padding-left: 20px;
    width: 400px;
    height: 30px;
    font-size: 13px;
}
.logo form input{
	border: 0;
	box-shadow: -1px -1px 1px #01AAED;
    outline: none;
    border-radius: 5px;
    width: 300px;
    height: 30px;
	display: block;
}
form p:last-child{
    margin-top: 10px;
}
.forget{
	width: 300px;
	margin-bottom: 0px;
}
form p{
	font-size: 16px;
	font-weight: 500;
	margin-top:20px ;
}
form .submit{
	text-align: center;
	display: block;
	margin-top: 30px;
	margin-left: 120px;
	
}
.nocount{
	margin-top: 10px;
	width: 110px;
	float: left;
	margin-bottom: 40px;
}
.nocount a{
	color: #00F7DE;
}






/* footer */
.mod_copyright{
    position: absolute;top: 0;
    text-align:center;
    font-size: 12px;
    padding-top: 20px;
	height: 80px;
}
.ring{
	float: left;
	margin-left: 10px;
}
.ring img{
	width: 46px;
}
.style_w{
	text-align: center;
	width: 1000px;
	height: 50px;
	float: left;
}
.copyright{
	margin-top: -14px;
	font-size: 8px;
}
.link a{
	padding: 0 15px;
	font-size: 12px;
}
.erweima{
	float: left;
	width: 60px;
	height: 60px;
	margin-left: 30px;
}